<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Profile</title>
	<meta charset="utf-8" />
</head>
<body>
	<div th:replace="index::logout"></div>
	<h1>Profile</h1>
	<nav>
		<span>
			<a href="/" th:href="@{/}">Home</a>
		</span>
		<span sec:authorize-url="/admin/users">
			<a href="/admin/users" th:href="@{/admin/users}">Users</a>
		</span>
	</nav>
	<div>
		<span>You are successfully logged in </span>
		<span style="font-weight: bold" sec:authentication="name"></span>
	</div>
	<br />
	<div>
		<span style="font-weight: bold">Credentials:</span>
		<ul th:object="${user}">
			<li>
				<span th:text="*{username}">username</span>
			</li>
			<li>
				<span th:text="*{password}">password</span>
			</li>
			<li>
				<span th:text="*{role}">role</span>
			</li>
			<li>
				<span th:text="*{email}">email</span>
			</li>
			<li>
				<span th:text="*{firstName}">first name</span>
			</li>
			<li>
				<span th:text="*{lastName}">last name</span>
			</li>
		</ul>
	</div>
</body>
</html>