<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
	<div th:fragment="username" sec:authorize="isAuthenticated()">
		<span>User: </span>
		<span th:text="${session.loggedInUser.username}"></span>
	</div>

	<div th:fragment="fullName" sec:authorize="isAuthenticated()">
		<h5>
			<span>Welcome </span>
			<span th:text="${session.loggedInUser.fullName}"></span>
		</h5>
	</div>
</body>
</html>