<!DOCTYPE html>
<html th:fragment="base(title, content)"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link type="text/css" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet" />
	<link type="text/css" href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
	<title th:replace="${title}">Title</title>
</head>
<body>
	<header class="header">	
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" sec:authorize="isAuthenticated()" th:include="commons/navigation::${session.loggedInUser.role}(${title})"></nav>
	</header>
	<div class="container">
		<section th:replace="${content}"></section>
	</div>		
	<script type="text/javascript" src="/webjars/jquery/3.3.1-1/jquery.min.js" th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
	<script type="text/javascript" src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
</body>
</html>