<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
	<nav th:fragment="admin">
		<a href="/" th:href="@{/}">Home</a>
		<a href="/user/profile" th:href="@{/user/profile}">Profile</a>
		<a href="/admin/users" th:href="@{/admin/users}">Users</a>
	</nav>
	
	<nav th:fragment="employee">
		<a href="/" th:href="@{/}">Home</a>
		<a href="/user/profile" th:href="@{/user/profile}">Profile</a>
	</nav>
</body>
</html>