<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Registration</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<h1>Registration</h1>
	<div>
		<form th:action="@{/registration/register}" th:object="${user}" method="post">
			<span style="font-weight: bold">Basic:</span>
			<table>
				<tr>
					<td>
						<label for="username">Username</label>
					</td>
					<td>
						<input type="text" th:field="*{username}" th:errorclass="fieldError" />
					</td>
					<td>
						<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="fieldError">Invalid Username</p>
					</td>
				</tr>
				<tr>
					<td>
						<label for="rawPassword">Password</label>
					</td>
					<td>
						<input type="password" th:field="*{rawPassword}" th:errorclass="fieldError" />
					</td>
					<td>
						<p th:if="${#fields.hasErrors('rawPassword')}" th:errors="*{rawPassword}" class="fieldError">Invalid Password</p>
					</td>
				</tr>
				<tr>
					<td>
						<label for="confirmRawPassword">Confirm Password</label>
					</td>
					<td>
						<input type="password" th:field="*{confirmRawPassword}" th:errorclass="fieldError" />
					</td>
					<td>
						<p th:if="${#fields.hasErrors('confirmRawPassword')}" th:errors="*{confirmRawPassword}" class="fieldError">Invalid Confirm Password</p>
					</td>
				</tr>
				<tr>
					<td>
						<label for="email">Email</label>
					</td>
					<td>
						<input type="email" th:field="*{email}" th:errorclass="fieldError" />
					</td>
					<td>
						<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">Invalid Email</p>
					</td>
				</tr>
				<tr>
					<td>
						<label for="firstName">First Name</label>
					</td>
					<td>
						<input type="text" th:field="*{firstName}" th:errorclass="fieldError" />
					</td>
					<td>
						<p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="fieldError">Invalid First Name</p>
					</td>
				</tr>
				<tr>
					<td>
						<label for="lastName">Last Name</label>
					</td>
					<td>
						<input type="text" th:field="*{lastName}" th:errorclass="fieldError" />
					</td>
					<td>
						<p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="fieldError">Invalid Last Name</p>
					</td>
				</tr>
				<tr>
					<td>
						<label for="age">Age</label>
					</td>
					<td>
						<input type="number" th:field="*{age}" th:errorclass="fieldError" />
					</td>
					<td>
						<p th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="fieldError">Invalid Age</p>
					</td>
				</tr>
				<tr>
					<td>
						<label for="birthday">Birthday</label>
					</td>
					<td>
						<input type="date" th:field="*{birthday}" th:errorclass="fieldError" />
					</td>
					<td>
						<p th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}" class="fieldError">Invalid Birthday</p>
					</td>
				</tr>
				<tr>
					<td>
						<label for="gender">Gender</label>
					</td>
					<td>
						<input type="text" th:field="*{gender}" th:errorclass="fieldError" />
					</td>
					<td>
						<p th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="fieldError">Invalid Gender</p>
					</td>
				</tr>
			</table>
			<span style="font-weight: bold">Address:</span>
			<table>
				<tr>
					<td>
						<label for="address.address1">Address 1</label>
					</td>
					<td>
						<input type="text" th:field="*{address.address1}" th:errorclass="fieldError" />
					</td>
					<td>
						<p th:if="${#fields.hasErrors('address.address1')}" th:errors="*{address.address1}" class="fieldError">Invalid Address 1</p>
					</td>
				</tr>
				<tr>
					<td>
						<label for="address.address2">Address 2</label>
					</td>
					<td>
						<input type="text" th:field="*{address.address2}" th:errorclass="fieldError" />
					</td>
					<td>
						<p th:if="${#fields.hasErrors('address.address2')}" th:errors="*{address.address2}" class="fieldError">Invalid Address 2</p>
					</td>
				</tr>
				<tr>
					<td>
						<label for="address.city">City</label>
					</td>
					<td>
						<input type="text" th:field="*{address.city}" th:errorclass="fieldError" />
					</td>
					<td>
						<p th:if="${#fields.hasErrors('address.city')}" th:errors="*{address.city}" class="fieldError">Invalid City</p>
					</td>
				</tr>
				<tr>
					<td>
						<label for="address.state">State</label>
					</td>
					<td>
						<input type="text" th:field="*{address.state}" th:errorclass="fieldError" />
					</td>
					<td>
						<p th:if="${#fields.hasErrors('address.state')}" th:errors="*{address.state}" class="fieldError">Invalid State</p>
					</td>
				</tr>
				<tr>
					<td>
						<label for="address.country">Country</label>
					</td>
					<td>
						<input type="text" th:field="*{address.country}" th:errorclass="fieldError" />
					</td>
					<td>
						<p th:if="${#fields.hasErrors('address.country')}" th:errors="*{address.country}" class="fieldError">Invalid Country</p>
					</td>
				</tr>
				<tr>
					<td>
						<label for="address.zipCode">Zip Code</label>
					</td>
					<td>
						<input type="text" th:field="*{address.zipCode}" th:errorclass="fieldError" />
					</td>
					<td>
						<p th:if="${#fields.hasErrors('address.zipCode')}" th:errors="*{address.zipCode}" class="fieldError">Invalid Zip Code</p>
					</td>
				</tr>
			</table>
			<div>
				<input type="submit" value="Submit" />
			</div>
		</form>
	</div>
	<div>
		<a href="/" th:href="@{/}">Cancel</a>
	</div>
</body>
</html>