<!DOCTYPE html>
<html th:replace="commons/layout::base(~{::title}, ~{::section})"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Registration</title>
</head>
<body>
	<section>
		<form th:action="@{/registration/register}" th:object="${user}" method="post">
			<div class="row justify-content-around">
				<div class="col-sm-5">
					<h5>Basic</h5>
					<div class="form-group">
						<label for="username" class="col-form-label">Username</label>
						<input type="text" class="form-control" th:field="*{username}" th:errorclass="is-invalid" />
						<p class="invalid-tooltip" th:errors="*{username}">Invalid Username</p>
					</div>
					<div class="form-group">
						<label for="rawPassword" class="col-form-label">Password</label>
						<input type="password" class="form-control" th:field="*{rawPassword}" th:errorclass="is-invalid" />
						<p class="invalid-tooltip" th:errors="*{rawPassword}">Invalid Password</p>
					</div>
					<div class="form-group">
						<label for="confirmRawPassword" class="col-form-label">Confirm Password</label>
						<input type="password" class="form-control" th:field="*{confirmRawPassword}" th:errorclass="is-invalid" />
						<p class="invalid-tooltip" th:errors="*{confirmRawPassword}">Invalid Confirm Password</p>
					</div>
					<div class="form-group">
						<label for="email" class="col-form-label">Email</label>
						<input type="email" class="form-control" th:field="*{email}" th:errorclass="is-invalid" />
						<p class="invalid-tooltip" th:errors="*{email}">Invalid Email</p>
					</div>
					<div class="form-group">
						<label for="firstName" class="col-form-label">First Name</label>
						<input type="text" class="form-control" th:field="*{firstName}" th:errorclass="is-invalid" />
						<p class="invalid-tooltip" th:errors="*{firstName}">Invalid First Name</p>
					</div>
					<div class="form-group">
						<label for="lastName" class="col-form-label">Last Name</label>
						<input type="text" class="form-control" th:field="*{lastName}" th:errorclass="is-invalid" />
						<p class="invalid-tooltip" th:errors="*{lastName}">Invalid Last Name</p>
					</div>
					<div class="form-group">
						<label for="age" class="col-form-label">Age</label>
						<input type="number" class="form-control" th:field="*{age}" th:errorclass="is-invalid" />
						<p class="invalid-tooltip" th:errors="*{age}">Invalid Age</p>
					</div>
					<div class="form-group">
						<label for="birthday" class="col-form-label">Birthday</label>
						<input type="date" class="form-control" th:field="*{birthday}" th:errorclass="is-invalid" />
						<p class="invalid-tooltip" th:errors="*{birthday}">Invalid Birthday</p>
					</div>
					<div class="form-group">
						<label for="gender" class="col-form-label">Gender</label>
						<select class="form-control" th:field="*{gender}" th:errorclass="is-invalid">
							<option value="" disabled></option>
							<option th:each="genderType : ${genders}" th:value="${genderType}" th:text="${{genderType}}"></option>
						</select>
						<p class="invalid-tooltip" th:errors="*{gender}">Invalid Gender</p>
					</div>
				</div>
				<div class="col-sm-5">
					<h5>Address</h5>
					<div class="form-group">
						<label for="address.address1" class="col-form-label">Address 1</label>
						<input type="text" class="form-control" th:field="*{address.address1}" th:errorclass="is-invalid" />
						<p class="invalid-tooltip" th:errors="*{address.address1}">Invalid Address 1</p>
					</div>
					<div class="form-group">
						<label for="address.address2" class="col-form-label">Address 2</label>
						<input type="text" class="form-control" th:field="*{address.address2}" th:errorclass="is-invalid" />
						<p class="invalid-tooltip" th:errors="*{address.address2}">Invalid Address 2</p>
					</div>
					<div class="form-group">
						<label for="address.city" class="col-form-label">City</label>
						<input type="text" class="form-control" th:field="*{address.city}" th:errorclass="is-invalid" />
						<p class="invalid-tooltip" th:errors="*{address.city}">Invalid City</p>
					</div>
					<div class="form-group">
						<label for="address.state" class="col-form-label">State</label>
						<input type="text" class="form-control" th:field="*{address.state}" th:errorclass="is-invalid" />
						<p class="invalid-tooltip" th:errors="*{address.state}">Invalid State</p>
					</div>
					<div class="form-group">
						<label for="address.country" class="col-form-label">Country</label>
						<input type="text" class="form-control" th:field="*{address.country}" th:errorclass="is-invalid" />
						<p class="invalid-tooltip" th:errors="*{address.country}">Invalid Country</p>
					</div>
					<div class="form-group">
						<label for="address.zipCode" class="col-form-label">Zip Code</label>
						<input type="text" class="form-control" th:field="*{address.zipCode}" th:errorclass="is-invalid" />
						<p class="invalid-tooltip" th:errors="*{address.zipCode}">Invalid Zip Code</p>
					</div>
				</div>
			</div>
			<div class="row mt-2">
				<div class="col text-center">
					<input type="submit" class="btn btn-lg btn-primary" value="Submit" />
				</div>
			</div>
		</form>
	</section>
</body>
</html>