<!DOCTYPE html>
<html th:replace="commons/layout::base(~{::title}, ~{::section})"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Change Password</title>
</head>
<body>
	<section>
		<form th:action="@{/user/changePassword}" th:object="${user}" method="post">
			<h5 class="text-center">Change Password</h5>
			<div class="row d-flex justify-content-center">
				<div class="col-sm-5">
					<div class="form-group">
						<label for="rawPassword" class="col-form-label">New Password</label>
						<input type="password" class="form-control" th:field="*{rawPassword}" th:errorclass="is-invalid" />
						<div class="invalid-tooltip" th:errors="*{rawPassword}">Invalid Password</div>
					</div>
				</div>
			</div>
			<div class="row d-flex justify-content-center">
				<div class="col-sm-5">
					<div class="form-group">
						<label for="confirmRawPassword" class="col-form-label">Confirm New Password</label>
						<input type="password" class="form-control" th:field="*{confirmRawPassword}" th:errorclass="is-invalid" />
						<div class="invalid-tooltip" th:errors="*{confirmRawPassword}">Invalid Confirm Password</div>
					</div>
				</div>
			</div>
			<div class="row mt-2 d-flex justify-content-center">
				<div class="col-sm-5 text-center">
					<input type="submit" class="submit-btn btn btn-lg btn-primary" value="Submit" />
					<a class="submit-btn btn btn-lg btn-secondary" href="/user/profile" th:href="@{/user/profile}">Cancel</a>
				</div>
			</div>
		</form>
	</section>
</body>
</html>