<!DOCTYPE html>
<html th:replace="commons/layout::base(~{::title}, ~{::header}, ~{::section})"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Change Password</title>
</head>
<body>
	<header>
		<h1>Change Password</h1>
	</header>
	<section>
		<form th:action="@{/user/changePassword}" th:object="${user}" method="post">
			<table>
				<tr>
					<td>
						<label for="rawPassword">Password</label>
					</td>
					<td>
						<input type="password" th:field="*{rawPassword}" th:errorclass="fieldError" />
					</td>
					<td>
						<p th:if="${#fields.hasErrors('rawPassword')}" th:errors="*{rawPassword}" class="fieldError">Invalid Password</p>
					</td>
				</tr>
				<tr>
					<td>
						<label for="confirmRawPassword">Confirm Password</label>
					</td>
					<td>
						<input type="password" th:field="*{confirmRawPassword}" th:errorclass="fieldError" />
					</td>
					<td>
						<p th:if="${#fields.hasErrors('confirmRawPassword')}" th:errors="*{confirmRawPassword}" class="fieldError">Invalid Confirm Password</p>
					</td>
				</tr>
			</table>
			<div>
				<input type="submit" value="Submit" />
				<a href="/user/changePassword" th:href="@{/user/changePassword}">Cancel</a>
			</div>
		</form>
	</section>
</body>
</html>