<!DOCTYPE html>
<html th:replace="commons/layout::base(~{::title}, ~{::section})"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Users</title>
</head>
<body>
	<section>
		<div class="table-responsive">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>User</th>
						<th>Address</th>
						<th>Supervisor</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user,status : ${users}">
						<td th:text="${status.count}"></td>
						<td>
							<div class="d-flex flex-nowrap">
								<span th:text="${user.username}"></span>
								<img src="/img/male-icon.png" th:src="@{'/img/' + ${{user.gender}} + '-icon.png'}" width="16" height="16" alt="Gender">
							</div>
							<div>
								<span th:text="${user.fullName}"></span>
							</div>
							<div class="d-flex flex-nowrap">
								<span th:text="${user.birthday}"></span>
								<span th:text="${'(' + user.age + ')'}"></span>
							</div>
							<div>
								<span th:text="${user.email}"></span>
							</div>
							<div class="d-flex flex-column">
								<span th:text="${user.role}"></span>
								<span th:text="${user.department?.name}"></span>
							</div>
						</td>
						<td>
							<div class="d-flex flex-column">
								<span class="text-nowrap" th:text="${user.address.address1}"></span>
								<span class="text-nowrap" th:if="${not #strings.isEmpty(user.address.address2)}" th:text="${user.address.address2}"></span>								
								<span class="text-nowrap" th:text="${user.address.city}"></span>
								<span class="text-nowrap" th:text="${user.address.state}"></span>
								<span class="text-nowrap" th:text="${user.address.country}"></span>
								<span class="text-nowrap" th:text="${user.address.zipCode}"></span>
							</div>
						</td>
						<td>
							<div class="d-flex flex-column">
								<span th:text="${user.supervisor?.username}"></span>
								<span class="text-nowrap" th:text="${user.supervisor?.fullName}"></span>
							</div>
						</td>
						<td>
							<div>
								<form th:if="${not user.enabled}" th:action="@{/admin/user/enable(id=${user.id})}" method="post">
									<input type="submit" class="btn btn-sm btn-success btn-action" value="Enable" th:disabled="${user.id == session.loggedInUser.id}" />
								</form>
								<form th:if="${user.enabled}" th:action="@{/admin/user/disable(id=${user.id})}" method="post">
									<input type="submit" class="btn btn-sm btn-warning btn-action" value="Disable" th:disabled="${user.id == session.loggedInUser.id}" />
								</form>
							</div>
							<form th:action="@{/admin/user/delete(id=${user.id})}" method="post">
								<input type="submit" class="btn btn-sm btn-danger btn-action" value="Delete" th:disabled="${user.id == session.loggedInUser.id}" />
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</body>
</html>