<!DOCTYPE html>
<html th:replace="commons/layout::base(~{::title}, ~{::section})"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>User List</title>
</head>
<body>
	<section>
		<div class="table-responsive">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>User</th>
						<th>Address</th>
						<th>Supervisor</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user,status : ${users}">
						<td th:text="${status.count}">Count</td>
						<td>
							<div class="d-flex flex-nowrap">
								<span th:text="${user.username}">Username</span>
								<img src="/img/male-icon.png" th:src="@{'/img/' + ${{user.gender}} + '-icon.png'}" width="16" height="16" alt="Gender">
							</div>
							<div>
								<span th:text="${user.fullName}">Full Name</span>
							</div>
							<div class="d-flex flex-nowrap">
								<span th:text="${user.birthday}">Birthday</span>
								<span th:text="${'(' + user.age + ')'}">Age</span>
							</div>
							<div>
								<span th:text="${user.email}">Email</span>
							</div>
							<div class="d-flex flex-column">
								<span th:text="${user.role}">Role</span>
								<span th:text="${user.department?.name}">Department</span>
							</div>
						</td>
						<td>
							<div class="d-flex flex-column">
								<span class="text-nowrap" th:text="${user.address.address1}">Address1</span>
								<span class="text-nowrap" th:if="${not #strings.isEmpty(user.address.address2)}" th:text="${user.address.address2}">Address2</span>								
								<span class="text-nowrap" th:text="${user.address.city}">City</span>
								<span class="text-nowrap" th:text="${user.address.state}">State</span>
								<span class="text-nowrap" th:text="${user.address.country}">Country</span>
								<span class="text-nowrap" th:text="${user.address.zipCode}">Zip Code</span>
							</div>
						</td>
						<td>
							<div class="d-flex flex-column">
								<span th:text="${user.supervisor?.username}">Supervisor Username</span>
								<span class="text-nowrap" th:text="${user.supervisor?.fullName}">Supervisor Full Name</span>
							</div>
						</td>
						<td>
							<div>
								<form th:if="${not user.enabled}" th:action="@{/admin/user/enable(id=${user.id})}" method="post">
									<input type="submit" class="action-btn btn btn-sm btn-success" value="Enable" th:disabled="${user.id == session.loggedInUser.id}" />
								</form>
								<form th:if="${user.enabled}" th:action="@{/admin/user/disable(id=${user.id})}" method="post">
									<input type="submit" class="action-btn btn btn-sm btn-warning" value="Disable" th:disabled="${user.id == session.loggedInUser.id}" />
								</form>
							</div>
							<form th:action="@{/admin/user/delete(id=${user.id})}" method="post">
								<input type="submit" class="action-btn btn btn-sm btn-danger" value="Delete" th:disabled="${user.id == session.loggedInUser.id}" />
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</body>
</html>