<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Profile</title>
	<meta charset="utf-8" />
</head>
<body>
	<div th:replace="commons/navigation :: logout"></div>
	<h1>Profile</h1>
	<nav th:replace="commons/navigation :: ${session.loggedInUser.role}"></nav>
	<div>
		<span>You are successfully logged in </span>
		<span style="font-weight: bold" sec:authentication="name"></span>
	</div>
	<br />
	<div>
		<span style="font-weight: bold">Credentials:</span>
		<form th:action="@{/user/save}" th:object="${userForm}" method="post">
			<table>
				<tr>
					<td>
						<label for="username">Username</label>
					</td>
					<td>
						<input type="text" th:field="*{username}" th:errorclass="fieldError" />
					</td>
					<td>
						<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="fieldError">Invalid Username</p>
					</td>
				</tr>
				<tr>
					<td>
						<label>Password</label>
					</td>
					<td>
						<a href="/user/changePassword" th:href="@{/user/changePassword}">Change Password</a>
					</td>
				</tr>
				<tr>
					<td>
						<label for="email">Email</label>
					</td>
					<td>
						<input type="email" th:field="*{email}" th:errorclass="fieldError" />
					</td>
					<td>
						<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">Invalid Email</p>
					</td>
				</tr>
				<tr>
					<td>
						<label for="firstName">First Name</label>
					</td>
					<td>
						<input type="text" th:field="*{firstName}" th:errorclass="fieldError" />
					</td>
					<td>
						<p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="fieldError">Invalid First Name</p>
					</td>
				</tr>
				<tr>
					<td>
						<label for="lastName">Last Name</label>
					</td>
					<td>
						<input type="text" th:field="*{lastName}" th:errorclass="fieldError" />
					</td>
					<td>
						<p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="fieldError">Invalid Last Name</p>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<input type="submit" value="Save" />
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>