<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Registration</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<h1>Registration</h1>
	<div>
		<form th:action="@{/register}" th:object="${userForm}" method="post">
			<table>
				<tr>
					<td>
						<label for="username">Username</label>
					</td>
					<td>
						<input type="text" th:field="*{username}" th:errorclass="fieldError" />
					</td>
					<td>
						<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="fieldError">Invalid Username</p>
					</td>
				</tr>
				<tr>
					<td>
						<label for="password">Password</label>
					</td>
					<td>
						<input type="password" th:field="*{password}" th:errorclass="fieldError" />
					</td>
					<td>
						<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError">Invalid Password</p>
					</td>
				</tr>
				<tr>
					<td>
						<label for="confirmPassword">Confirm Password</label>
					</td>
					<td>
						<input type="password" th:field="*{confirmPassword}" th:errorclass="fieldError" />
					</td>
					<td>
						<p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="fieldError">Invalid Confirm Password</p>
					</td>
				</tr>
				<tr>
					<td>
						<label for="email">Email</label>
					</td>
					<td>
						<input type="email" th:field="*{email}" th:errorclass="fieldError" />
					</td>
					<td>
						<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">Invalid Email</p>
					</td>
				</tr>
				<tr>
					<td>
						<label for="firstName">First Name</label>
					</td>
					<td>
						<input type="text" th:field="*{firstName}" th:errorclass="fieldError" />
					</td>
					<td>
						<p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="fieldError">Invalid First Name</p>
					</td>
				</tr>
				<tr>
					<td>
						<label for="lastName">Last Name</label>
					</td>
					<td>
						<input type="text" th:field="*{lastName}" th:errorclass="fieldError" />
					</td>
					<td>
						<p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="fieldError">Invalid Last Name</p>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<input type="submit" value="Submit" />
					</td>
				</tr>
			</table>
		</form>
	</div>
	<div>
		<a href="/" th:href="@{/}">Cancel</a>
	</div>
</body>
</html>