@CHARSET "ISO-8859-1";

html {
	position: relative;
	height: 100%;
}

body {
	background-color: #f5f5f5;
	min-height: 100%;
}

body > .container > section {
  padding-top: 70px;
  padding-bottom: 10px;
}

.fieldError {
	color: red;
}

.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
	text-align: center;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.form-group {
	position: relative;
}

.submit-btn {
	width: 95px;
}

.action-btn {
	width: 60px;
}
