<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Team List</title>
	<meta charset="utf-8" />
</head>
<body>
	<div th:replace="commons/action :: logout"></div>
	<h1>Team List</h1>
	<nav th:replace="commons/navigation :: ${session.loggedInUser.role}"></nav>
	<div th:replace="commons/display :: fullName"></div>
	<br />
	<div>
		<table border="1">
			<tr>
				<th></th>
				<th>Supervisor</th>
				<th>Size</th>
			</tr>
			<tr th:each="team,status : ${teams}">
				<td th:text="${status.count}">count</td>
				<td th:text="${team.fullName}">supervisor</td>
				<td th:text="${#lists.size(team.supervisees)}">size</td>
			</tr>
		</table>
	</div>
</body>
</html>