<!DOCTYPE html>
<html th:replace="commons/layout::base(~{::title}, ~{::header}, ~{::section})"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Team List</title>
</head>
<body>
	<header>
		<h1>Team List</h1>
	</header>
	<section>
		<table border="1">
			<tr>
				<th></th>
				<th>Supervisor</th>
				<th>Size</th>
			</tr>
			<tr th:each="team,status : ${teams}">
				<td th:text="${status.count}">count</td>
				<td th:text="${team.fullName}">supervisor</td>
				<td th:text="${#lists.size(team.supervisees)}">size</td>
			</tr>
		</table>
	</section>
</body>
</html>