<!DOCTYPE html>
<html th:replace="commons/layout::base(~{::title}, ~{::section})"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Department List</title>
</head>
<body>
	<section>
		<table border="1">
			<tr>
				<th></th>
				<th>Name</th>
				<th>Head</th>
				<th>Size</th>
			</tr>
			<tr th:each="department,status : ${departments}">
				<td th:text="${status.count}">count</td>
				<td th:text="${department.name}">name</td>
				<td th:text="${department.head?.fullName}">head</td>
				<td th:text="${#lists.size(department.members)}">size</td>
			</tr>
		</table>
	</section>
</body>
</html>